In [1]:
import pandas as pd

import numpy as np



df = pd.DataFrame({'grp_col' : ['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b'], 

                   'val' : np.arange(10)+1,                   

                   'weight' : [1, 3, 4, 5, 9, 0.0, 0.1, 0.2, 0.3, 0.4]})



df

  grp_col  val  weight
0       a    1     1.0
1       a    2     3.0
2       a    3     4.0
3       a    4     5.0
4       a    5     9.0
5       b    6     0.0
6       b    7     0.1
7       b    8     0.2
8       b    9     0.3
9       b   10     0.4

In [2]:
# group weighted average by category

grouped = df.groupby('grp_col')

grouped

In [3]:



weighted_avg_func = lambda g:np.average(g['val'], weights=g['weight'])

grouped.apply(weighted_avg_func)

grp_col
a    3.818182
b    9.000000
dtype: float64